<div class="item-page-field" *ngIf="item?.firstMetadataValue('dc.identifier.doi')">
  <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
    <div class="simple-view-element">
      <div class="simple-view-element-body">
        <ng-container [ngTemplateOutlet]="dimensionsBadge"
                      [ngTemplateOutletContext]="{
                                                    itemDoi: item?.firstMetadataValue('dc.identifier.doi'),
                                                  }">
        </ng-container>
      </div>
    </div>
  </ds-metadata-field-wrapper>
</div>

<!-- See: https://badges.dimensions.ai -->
<ng-template #dimensionsBadge let-itemDoi="itemDoi">
  <span *ngIf="itemDoi.length" class="__dimensions_badge_embed__" [attr.data-doi]=itemDoi data-hide-zero-citations="true" data-style="small_circle" data-legend="always"></span>
</ng-template>
