<ng-template #descTemplate>
  <span class="text-muted">
      <span *ngIf="mdRepresentation.allMetadata(['person.jobTitle']).length > 0"
            class="item-list-job-title">
              <span *ngFor="let value of mdRepresentation.allMetadataValues(['person.jobTitle']); let last=last;">
                  <span [innerHTML]="value"><span [innerHTML]="value"></span></span>
              </span>
      </span>
  </span>
</ng-template>
<ds-truncatable [id]="mdRepresentation.id">
  <a [routerLink]="[itemPageRoute]"
     [innerHTML]="mdRepresentation.getValue()"
     [ngbTooltip]="mdRepresentation.allMetadata(['person.jobTitle']).length > 0 ? descTemplate : null"></a>
  <a *ngIf="mdRepresentation.allMetadata(['person.identifier.orcid']).length > 0" href="https://orcid.org/{{ mdRepresentation.firstMetadataValue('person.identifier.orcid')}}" target="_blank">
    <img src="assets/images/orcid_16x16.png" style="margin-bottom:.1em; margin-left:.1em;" alt="ORCID iD icon"
    [ngbTooltip]="mdRepresentation.firstMetadataValue('person.identifier.orcid')">
  </a>
</ds-truncatable>
